* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {

    /* background-color: blue; */
    header {
        z-index: 10;
        height: 50px;

        nav {
            height: 100%;
        }
    }

    main {
        margin-top: 52px;
        margin-bottom: 25px;

    }
}

.container{
    .row{
        .card{
            height: 350px;
            .card-img {
                height: 80%;
                overflow:hidden ;
                
                img { 
                    object-position: 0px 0px;
                    height: 100%;
                    object-fit:cover;
                }
            }
}
}
}


main{
    margin-top: 52px;
        margin-bottom: 25px;

   .signin-container, .signup-container, .adddoctor-container{
        max-width: 500px;
        margin: 150px auto;
        padding: 30px;
        border: 1px solid #4b3838;
        border-radius: 10px;
        box-shadow: 0 0 15px rgb(236, 129, 129);
        background-color: hsl(0, 0%, 100%);

    

        h2 {
            margin-bottom: 20px;
            text-align: center;
            font-weight: bold;
            color: hsl(0, 40%, 22%);
            } 
        }}


main{
    #carouselExampleAutoplaying {
        height: 600px;

        .carousel-inner{
            height: 100%;
            .carousel-item{
                height: 100%;

                img{
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}




