{% load static %}



<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="static\images\banners\carousel1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>KM Hospitals</h5>
        <p>You Health is Our First Priority</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static\images\banners\carousel2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Highly equipped operation theatres</h5>
        <p>State-of-the-art operation theatres equipped with advanced surgical technology for safe and efficient procedures.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="static\images\banners\carousel3.jpg" class="d-block w-100" alt="..." style="object-position: 0px 0px;">
      <div class="carousel-caption d-none d-md-block">
        <h5>Well-Experienced Doctors</h5>
        <p>Team of highly experienced doctors dedicated to providing expert medical care across all specialties</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>