{% load static %}

    
        <div class="col-md-3 mb-4">
        
            <div class="card">
                
                <div class="card-img">
                    <a href="{% url 'doc_detail' doctor.id %}">
                        <img src="{{ doctor.image.url }}" class="card-img-top" alt="Doctor Image">
                     </a>
                </div>
                
                
                
                <div class="card-body row align-items-center">
                    <div class="col">
                       <a href="{% url 'doc_detail' doctor.id %}" class="text-decoration-none">
                            <h6 class="card-title">{{ doctor.first_name.capitalize }} {{ doctor.last_name.capitalize }}</h6>
                        </a>
                    <p class="card-text">{{ doctor.get_category_display }}</p>

                    </div>
         
                    <div class="col .fs-6 text">
                        <a href="#" class="btn btn-danger btn-sm ">Book Appointment</a>
                
                    </div>
                    
                </div>
                
            </div>
        </div>
        