{% extends 'base.html' %}

{% block title %}
    Add Patient
{% endblock %}


{% block content %}

<div class="addpatient-container">
    <h2>Add Patient</h2>
    <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="row w-100 ">
            <label for="{{field.name}}" class="col-4">{{field.name}}</label>
            <div class="col-6">
                {{field }}
            </div>
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary w-100 my-2" >Add Patient</button>
    </form>
</div>
{% endblock %}