{% extends 'base.html' %}

{% block title %}
Delete Patient : {{patient.name}}
{% endblock %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{{patient.image.url}}" alt="" class="w-100 round-edge ">
        </div>

        <div class="col">
            <h4>
                {{patient.full_name}}
            </h4>
            
            <div>
                <h3>Are you sure you want to delete <span class="text-warning">{{patient.name}}</span>?</h3>
                <div class="row w-60">
                    <form method="post" class="col-6">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary w-100">Delete</button>
                </form>
                <a href="{% url 'patient_detail' patient.id %}" class="btn btn-warning col-6">Cancel</a>

                </div>
                

            </div>

        </div>
    </div>
    {% endblock %}