<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;" data-bs-theme="light">
  <div class="container-fluid">
    <a class="nav-link" href="{% url 'homepage' %}">
        <img src="static\images\logos\KM_logo.png" width="40" height="34" alt="logo">
    </a>
    <a class="navbar-brand" href="{% url 'homepage' %}">KM Hospitals</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'aboutus' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'specs' %}">Specialities</a>
        </li>


<!-- Auth Links -->
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'signin' %}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Register</a>
        </li>
        {% else %}
                <li class="nav-item">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="nav-link">
              Logout
            </button>
          </form>
        </li>

          {% if user.is_staff %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'add_doc' %}">Add Doctor</a>
            </li>
            {% else %}

            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'addpatient' %}">Add Patient</a>
              </li>
              <li class="nav-item">               
                <a class="nav-link active" aria-current="page" href="{% url 'patientview' %}">My Patients</a>
              </li>
              {% endif %}
        {% endif %}
        <!-- Auth links end -->
        
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
    
          </ul>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>